html {
  height: 100vh;
}

main {
  height: 100vh;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem auto;
  text-align: center;
	padding-top: 8vh;
	padding-bottom: 15vh;
}

#dice-button {
  width: 6rem;
  margin: 1rem auto;
}

label {
  margin-right: 1rem;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.NavBar,
.TopBar {
  max-width: 500px;
  min-width: 360px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(197, 197, 197);
  padding: 14px 10px;
  margin: 0;
}

.TopBar {
  justify-content: space-between;
  align-items: center;
	position: fixed;
	width: 100%;
	top: 0px;
}

.NavBar {
	position: fixed;
	width: 100%;
	bottom: 0px;
}

#top-bar-profie {
  width: 30px;
}

#logo {
  width: 40px;
}
#dice {
  border: 1px sold black;
  background-color: white;
  border-radius: 10px;
}

#userPicture {
  width: 40px;
  border-radius: 20px;
  /* border: solid 1px black; */
}
